button{
    padding:10px;
}

.people {
    
    display:flex;
    flex-direction:row;

    .person {
        flex:1;
        background: #eee;
        padding: 15px;;

        div {
            display:flex;
            padding:4px;

            span:nth-child(1) {
                font-weight:bold;
                margin-right: 1em;
            }
            span:nth-child(2) {
                flex-wrap: true;
            }
        }
    }

    ul {
        list-style-type:none;
        margin:0;
        padding:0;

        li {
            border: 1px solid blue;
            cursor: pointer;
            margin: .25em 0;
            padding:10px;
            width: 200px;

            &:hover {
                background: aliceblue;
            }
        }

    }
}